language: ruby
sudo: false
cache:
  - bundler
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.6
  - 2.3.3
script: bundle exec rspec
env:
  matrix:
    - RAILS_VERSION="~> 4.2.0"
    - RAILS_VERSION="~> 5.0.0"
matrix:
  exclude:
    - rvm: 2.0.0
      env: RAILS_VERSION="~> 5.0.0"
    - rvm: 2.1.10
      env: RAILS_VERSION="~> 5.0.0"
