language: ruby
sudo: false
cache:
  - bundler
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.0
before_install:
  - "ruby -e 'exit RUBY_VERSION.to_f >= 2.3' && travis_retry gem update --system || travis_retry gem install rubygems-update -v '<3' && travis_retry update_rubygems"
  - travis_retry gem install bundler -v '<2' # Ruby <2.3 and Rails 4.2 depend on bundler 1.x.
script: bundle exec rspec
env:
  matrix:
    - RAILS_VERSION="~> 4.2.0"
    - RAILS_VERSION="~> 5.0.0"
    - RAILS_VERSION="~> 5.1.0"
    - RAILS_VERSION="~> 5.2.0"
    - RAILS_VERSION="~> 6.0.0"
matrix:
  exclude:
    - rvm: 2.0.0
      env: RAILS_VERSION="~> 5.0.0"
    - rvm: 2.0.0
      env: RAILS_VERSION="~> 5.1.0"
    - rvm: 2.0.0
      env: RAILS_VERSION="~> 5.2.0"
    - rvm: 2.0.0
      env: RAILS_VERSION="~> 6.0.0"
    - rvm: 2.1.10
      env: RAILS_VERSION="~> 5.0.0"
    - rvm: 2.1.10
      env: RAILS_VERSION="~> 5.1.0"
    - rvm: 2.1.10
      env: RAILS_VERSION="~> 5.2.0"
    - rvm: 2.1.10
      env: RAILS_VERSION="~> 6.0.0"
    - rvm: 2.2.10
      env: RAILS_VERSION="~> 6.0.0"
    - rvm: 2.3.8
      env: RAILS_VERSION="~> 6.0.0"
    - rvm: 2.4.5
      env: RAILS_VERSION="~> 6.0.0"
